---
- name: ensure nut-driver started
  service: >
    name={{nut_driver_service}}
    state=started
    enabled=yes
  when: >
    nut_nut_conf.MODE == 'netserver' or
    nut_nut_conf.MODE == 'standalone'
- name: ensure nut-monitor started
  service: >
    name={{nut_client_service}}
    state=started
    enabled=yes
  when: >
    nut_nut_conf.MODE == 'netserver' or
    nut_nut_conf.MODE == 'netclient' or
    nut_nut_conf.MODE == 'standalone'

- name: ensure nut-server started
  service: >
    name={{nut_server_service}}
    state=started
    enabled=yes
  when: >
    nut_nut_conf.MODE == 'netserver' or
    nut_nut_conf.MODE == 'standalone'
